*, *:after, *:before {
  box-sizing: border-box;
}

body {
  background: white;
  font-family: $fontFamily;
}

.cv {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  width: 8.5in;
  height: 11in;
  align-items: center;
  justify-content: center;
}