*, *:after, *:before {
  box-sizing: border-box;
}

@media print {
  body {-webkit-print-color-adjust: exact;}
}

body {
  background: white;
  font-family: $font-family;
  @media only screen and (max-width: $break) {
    background: $colorBackground;
  }
}

.cv {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  justify-content: center;
  @media print {
    //width: 8.5in; //dla USA
    //height: 10.5in;
    width: 21cm; //dla Polski
    height: 28.7cm;
  }
  @media only screen and (max-width: $break) {
    height:500vh;
    width: 100vw;
    overflow: scroll;
    flex-direction: column;
  }
}

.data-clause {
  width: 100%;
  height: 1cm;
  color: grey;
  @media print {
    font-size: 12px;
  }
}

@media print {
  td {
    font-size: 14px;
  }
}