*, *:after, *:before {
  box-sizing: border-box;
}

@media print {
  body {-webkit-print-color-adjust: exact;}
}

body {
  background: white;
  font-family: $font-family;
  @media only screen and (max-width: $break) {
    background: $colorBackground;
  }
}

.cv {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 11in;
  align-items: center;
  justify-content: center;
  @media print {
    width: 8.5in;
  }
  @media only screen and (max-width: $break) {
    height:500vh;
    width: 100vw;
    overflow: scroll;
    flex-direction: column;
  }
}

.data-clause {
  width: 100%;
  color: grey;
}