.main {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: $break) {
    width: 100%;
  }
  .section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5px $padding;
    @media only screen and (max-width: $break) {
      background: white;
    }
    .title-holder {
      width: 100%;
      h3 {
        margin:0;
      }
    }
  }
}

.section.projects {
  .focus.project {
    @media print {
      margin-bottom: 5px;
    }
    display: flex;
    flex-direction: row;
    border: 1px solid $colorBackground;
    margin-bottom: $padding;
    width: 100%;
    .title-section {
      width: 30%;
      background: $colorBackground !important;
      color: black;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      background-position: center;
      background-size: cover;
      .title {
        font-size: 1em;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        h3 {
          margin: 0;
          font-size: 1em;
        }
      }
      .links {
        font-size: 0.8em;
        border: 1px solid $colorBackground !important;
        width: 100%;
        height: 30%;
        background: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
      }
    }
    .description-section {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 10px;
      justify-content: space-around;
      p {
        margin: 10px;
        font-size: 0.8em;
        @media print {
          margin: 5px;
        }
      }
    }
  }
  .project-holder {
    width: 100%;
    p, ul {
      margin: 0;
    }
  }
}

.section.experience {
  .title-holder h3 {
    margin-top: 0;
  }
  .table {
    width: 100%;
    table {
      width: 100%;
    }
    ul {
      margin: 0;
    }
  }
}

.section.interests {
  h3 {
    margin: 0;
  }
  p {
    width: 100%;
    margin: 0;
  }
}