.sidebar {
  background: $colorBackground !important;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .section {
    width: 100%;
    padding: $padding;
  }
  h3 {
    margin: 0;
  }
  @media only screen and (max-width: $break) {
    width: 100%;
  }
}

.section.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: $break) {
    background: white;
  }
  .photo-holder {
    height: 190px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .photo {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      background-image: url('../../src/images/monica-linked-in-photo.jpg') !important;
    }
  }
  .title-holder {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 1.5em;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 0.8em;
      margin: 0;
      @media only screen and (max-width: $break) {
        font-size: 1em;
      }
    }
  }
}

.section.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: $break) {
    background: white;
  }
  table {
    font-size: 1em;
    td p{
      margin-top: 1px;
      margin-bottom: 10px;
      margin-right: 5px;
    }
  }
}

.section.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  h3 {
    margin: 5px 0;
    font-size: 1.2em;
  }
  p {
    margin: 0 5%;
    font-size: 1em;
  }
  @media only screen and (max-width: $break) {
    background: white;
  }
}

.section.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .header-container {
    width: 100%;
    h3 {
      margin-bottom: $padding;
    }
  }
  .skills-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    .skill {
      width: 28%;
      background: white;
      border-radius: 5px;
      padding: 5px;
      margin: 5px;
      display: flex;
      align-content: center;
      justify-content: center;
      p {
        text-anchor: center;
        margin: 0;
      }
    }
  }
}

div.section.skills:last-of-type {
  .skill {
    background: none;
  }
}