$colorBackground : #e0ebe0;
$font-family: 'Lato', sans-serif;
$break: 940px;
$padding: 15px;

@import "_mixins.scss";
@import "components/_global-layout.scss";
@import "components/_sidebar.scss";
@import "components/_main.scss";